version: '3.1'

services:
  
  postgres-db:
    image: postgres
    container_name: pg-service-admin
    ports: 
      - ${ADMIN_SERVICE_DB_PORT}:5432
    restart: always
    environment:
      POSTGRES_USER: ${ADMIN_SERVICE_DB_USER}
      POSTGRES_PASSWORD: ${ADMIN_SERVICE_DB_PASSWORD}
      POSTGRES_DB: ${ADMIN_SERVICE_DB_SCHEMA}
    volumes:
        - ./create-admin-db.sql:/docker-entrypoint-initdb.d/create-db.sql
    networks: 
      - sigo-network

networks:
  sigo-network:
